/*
.self-message {
  background-color: blue;
  float: right;
  clear: both;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.other-message {
  background-color: green;
  float: left;
  clear: both;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.chatOutline {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-height: 50vh;
  overflow: auto;
}

.chatBox {
  max-height: 80vh;
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.chatInput {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
*/
