/*
  To have responsive UI, use em and not rem as the 
  font size is changed dynamically
*/

#gui {
  /* font-size: calc(15px + 0.390625vw); */
  pointer-events: none;
  color: whitesmoke;
  position: absolute;
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/*
    Custom
*/

#respawn {
  position: absolute;
  background-color: slateblue;
  padding: 0.8em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 10%;
}

#test {
  pointer-events: all;
  background-color: rgba(154, 50, 151, 0.264);
  padding: 0.5em;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
