@import "../_theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

button[type="submit"] {
  background-color: $light-color;
}

.error {
  color: red;
  font-weight: bold;
}

.link {
  color: $lighter-color;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}